<!doctype html>
<html lang="en">
{%load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

    <title>Image Descriptor!</title>
  </head>
  <!-- <body style="background: #D3D3D3 "> -->
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light mt-2">
      <a class="navbar-brand" href="#">
        <!-- <img src="{% static  "images/logo.jpg" %}" width="30" height="30" alt=""> -->
        <img src="{% static 'images/logo.jpg' %}" alt="My  sdg" width="100" height="50"/>
      </a>
    </nav>

    {% block content%}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>